<div class="jumbotron" id="about">
  <h1>THINGS TO DO?</h1>
    <h3>
      Blocitoff is here to help you! Create custom to-do lists,
      add individual tasks with due dates, mark completed with auto delte, and If things get
      busy, email friendly reminders of tasks due soon. Also help track productivity with a
      user score based on tasks to-do vs tasks completed. Get things done Today.
    </h3>
    <%= link_to "Sign Up NOW", new_user_registration_path, class: 'btn btn-primary btn-lg' %>
</div>